<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <br>
    <div class="jumbotron">
        <h1><%= title %></h1>

        <form action="/add" method="POST">
            <legend>ADD TASK DETAILS</legend>
            <div class="form-group">
                <input type="text" placeholder="title" id="title" class="form-control" name="title">
            </div>
            <div class="form-group">
                <textarea placeholder="Descripcion" class="form-control" name="descripcion" rows="1" cols="80"></textarea>
            </div>
            <button class="btn btn-primary">ADD</button>
        </form>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < task.length; i++){ %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><strong><%= task[i].title %></strong></td>
                    <td><strong><%= task[i].descripcion %></strong></td>
                    <td>
                        <a class="<%= task[i].status ? 'btn btn-success': 'btn btn-dark' %>" href="/hecho/<%= task[i]._id %>">Hecho</a>
                        <a id="eliminar" class="btn btn-danger" href="/eliminar/<%= task[i]._id %>">Eliminar</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
</body>
<script>
    document.getElementById('title').focus();
    document.getElementById('eliminar').addEventListener('click', (e)=>{
        let response = confirm('¿Estás seguro que quieres eliminar esta tarea?');
        if(!response){
            e.preventDefault();
        }
    });
</script>
</html>